BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: None
AccessModifierOffset: -4
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
SortIncludes: true
IncludeBlocks: Regroup
ColumnLimit: 120
ReflowComments: true
